*.mp4
*.pyc
__pycache__
.BOINC Manager
.ICEauthority
.Xauthority
.adobe
.anthy
.aspell.fr.prepl
.aspell.fr.pws
.audacity-data
.bash_history
.bash_logout
.ssh
.ropeproject
.qt
.rpmdb
.scim
.shotwell
.vim_swap
download
Download
dwhelper
equipe
euler
music
personnel
projects
projets
security
texmf
*pipo*
.ackrc
.bash_profile
.cache
.cgobanrc
.compiz-1
.config
.crawl
.csshrc
.cups
.dbshell
.dbus
.dia
.dmrc
.elinks
.erlang.cookie
.esd_auth
.fehbg
.filezilla
.fontconfig
.gconf
.gconfd
.gcutil.version
.gcutil_auth
.gegl-0.0
.gitk
.gitconfig
.gimp-2.8
.git_template
.gksu.lock
.gnome
.gnome2
.gnupg
.goutputstream*
.gstreamer-0.10
.gtk-bookmarks
.hgrc
.histfile
.hplip
.ipython
.irssi
.java
.jiracli.ini
.lesshst
.libreoffice
.links
.links2
.local
.m2
.macromedia
.matplotlib
.mcabberrc
.mcabberrc2
.mcabberrc_durable
.mcabberrc_gmail
.mcabberseb
.mission-control
.mongorc.js
.mozilla
.mplayer
.mysql
.mysql_history
.ncmpcpp
.npm
.npmrc
.pdepend
.pentadactyl
.pentadactylrc
.pki
.pip
.profile
.pulse-cookie
.pulse
.pyhistory
.pylint-gui-history
.pylint.d
.pylintrc
.pypirc
.python_history
.recently-used
.rediscli_history
.remmina
.selected_editor
.texmf-var
.thumbnails
.thunderbird
.uim.d
.vagrant.d
.venvs
.vim
.vim-fuf-data
.viminfo
.vimperator
.vimrc-seb
.xinput.d
.xonotic
.xscreensaver
.xsession-errors
.xsession-errors.old
.yankring_history_v2.txt
.zcompdump
Téléchargements
gui_rpc_auth.cfg
git
databases
torrent
www
bin/config.yml
management
officiels
vidz
.terminfo
course
.i3/py3status_plugins/config.yml
.i3/py3status_plugins/lockfile
*.gz
*.pdf
*.JPG
*.key
scripts
tmp*
*.tmp
